html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  display: flex;
}

.content-2 {
  position: absolute;
  max-width: 45em;
  max-height: 500px;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.btn-big {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.125rem;
}
